<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">Create a new project</div>
            <div class="panel-body">
                <form [formGroup]="projectForm" novalidate (ngSubmit)="doSubmit()">
                    <div class="form-group">
                        <label>Project Name</label>
                        <input type="text" class="form-control" formControlName="projectName">
                        <div *ngIf="formErrors.projectName" class="alert alert-danger">
                            {{ formErrors.projectName }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" rows="4" formControlName="description"></textarea>
                        <div *ngIf="formErrors.description" class="alert alert-danger">
                            {{ formErrors.description }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tasks</label>
                        <div formArrayName="tasks" class="well">
                            <div class="form-group" *ngFor="let item of tasks.controls; let i=index" [formGroupName]="i" >
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <dropdown-basic [title]="'Task' + (i + 1)" [actions]="getActions(i)"></dropdown-basic>
                                    </div>
                                    <input type="text" class="form-control" formControlName="content" placeholder="task content">
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="button" (click)="addTask(single)" class="btn btn-default btn-xs btn-normal">Add</button>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label>Visibility</label>
                        <label class="checkbox-inline">
                            <input type="radio" formControlName="visibility" value="0" checked> Public
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" formControlName="visibility" value="1"> Private
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Members</label>
                        <div *ngIf="userList.length > 0">
                            <ng-select [multiple]="true"
                                    [items]="userList"
                                    [disabled]="false"
                                    (data)="refreshValue($event)"
                                    (selected)="selected($event)"
                                    (removed)="removed($event)"
                                    placeholder="No user selected"
                                    showSearchInputInDropdown>
                            </ng-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary btn-block" [disabled]="!projectForm.valid">Create</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="reset" class="btn btn-default btn-block">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>