.page-head {
    background-color: #fafbfc;
    
}
.thumbnail {
    padding: 0;
}
.media {
    padding: 4px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.thumbnail .chart {
    padding: 4px;
}
.thumbnail.active .media, .thumbnail:hover .media {
    background-color: #f5f5f5;
}