.version-new {
    border-bottom: 1px solid #ddd;
    width: 100%;
    text-decoration: none;
    display: inline-block;
}
.input-group button.btn {
    height: 40px;
}
.nav-tabs {
    display: flex;
    justify-content: space-between;
}