<div class=" manage-title">Projects</div>
<div class="manage-content">
    <div class="row">
        <div class="col-sm-4" *ngFor="let item of management[1]">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="text-center"><b>{{item.PRJ_NAME}}</b></p>
                    <hr>
                    <div class="text-content">
                        <span class="pull-left">Members: {{item.MEM_NUMBER}}</span>
                        <span class="pull-right label label-success">{{item.CURRENT_VERSION}}</span>
                    </div>
                    <div class="progress progress-striped active">
                        <div class="progress-bar" role="progressbar"
                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                            style="width: 40%;" [ngStyle]="{'width': item.PROGRESS + 'px'}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>