.login{
    padding-top: 250px;
    width: 350px;
}
.login-main{
  display: flex;
  min-height: 900px;
  justify-content: center;
  background-image: url('../../../asserts/image/home-code.svg');
    background-size: 100% auto;
}