html, body{
  height: 100%;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body{
  background-color: #eee;
}
.mb10{
  margin-bottom: 10px!important;
}
/* bootstrap override */
.form-control{
      -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    height: auto;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 13px;
}
.btn{
      -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: 21px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    padding: 9px 15px;
}
.fa-6x{
  font-size: 6em;
}
.nopadding{
  padding: 0!important;
}
.nomargin{
  margin: 0!important;
}
hr{
  margin: 5px 0;
}